<div class="ui page">
    <md-card >
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools">
                <md-button ui-sref="expedientes" class="md-icon-button" aria-label="Anterior">
                  <md-icon>navigate_before</md-icon>
                  <md-tooltip md-delay="400" md-direction="bottom" md-autohide="true">
                    Ir atrás
                  </md-tooltip>
                </md-button>
                <i class="material-icons">folder_shared</i>
                <span style="margin-left:10px;">Expediente No: {{vm.expediente.numero}}</span>
                <span style="margin-left:10px;" ng-if="vm.expediente.esActivo" class="ui blue horizontal label">Activo</span>
                <span style="margin-left:10px;" ng-if="vm.expediente.esActivo == false" class="ui horizontal label">Cerrado</span>
                <div class="mdl-layout-spacer"></div>
                <!-- <md-button>Nueva solicitud</md-button> -->
                <md-menu md-position-mode="target-right target" ng-if="vm.expediente.esActivo">
                  <md-button aria-label="Opciones" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin>more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="3" >
                    <md-menu-item >
                      <md-button ng-click="vm.showForm($event, vm.expediente.id)">
                          <div layout="row">
                            <p flex>Cerrar expediente</p>
                            <md-icon md-menu-align-target style="margin: auto 3px auto 0;">folder</md-icon>
                          </div>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-content layout-padding>
              <!-- <h3 class="ui dividing header">Expediente No {{vm.expediente.numero}}
                <span ng-if="vm.expediente.esActivo" class="ui blue horizontal label">Activo</span>
                <span ng-if="vm.expediente.esActivo == false" class="ui horizontal label">Cerrado</span>
              </h3> -->
              <div layout="column" layout-sm="column">
                  <md-input-container class="md-block">
                    <label>Descripción del problema</label>
                    <textarea readonly="true" ng-model="vm.expediente.solicitud.descripcionProblema" columns="1" md-maxlength="250" maxlength="250"></textarea>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Hechos Expuestos</label>
                    <textarea readonly="true" ng-model="vm.expediente.solicitud.hechosExpuestos" columns="1" md-maxlength="250" maxlength="250"></textarea>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Asesoría brindada</label>
                    <textarea readonly="true" ng-model="vm.expediente.solicitud.asesoriaBrindada" columns="1" md-maxlength="250" maxlength="250"></textarea>
                  </md-input-container>
                  <md-input-container>
                    <label>Documentos solicitados</label>
                    <input readonly="true" ng-model="vm.expediente.solicitud.docSolicitados">
                  </md-input-container>
                  <md-input-container ng-if="vm.expediente.esActivo == false">
                    <label>Observaciones</label>
                    <textarea readonly="true" ng-model="vm.expediente.observaciones" columns="1"></textarea>
                  </md-input-container>
              </div>
              <a class="ui basic grey large label" ui-sref="detallePracticante({ id: vm.expediente.practicanteId })">
                Practicante: 
                {{vm.expediente.practicante.nombres +' '+ vm.expediente.practicante.apellidos}}
              </a>
              <span class="ui basic grey large label">
                Asesor: {{vm.expediente.asesor.colaborador.nombres +' '+ vm.expediente.asesor.colaborador.apellidos}}
              </span>
            </md-content>
        </md-card-content>
        <md-card-footer ng-if="formCtrl.editable" layout="row" layout-align="end center">
          <md-button ng-click="formCtrl">
            Cancelar
          </md-button>
          <md-button ng-click="formCtrl" style="margin-right:20px;">
            Guardar
          </md-button>
        </md-card-footer>
    </md-card>
</div>