<div class="ui page">
	<h3 class="ui dividing header">Expedientes</h3>

    <div class="ui fluid icon input">
      <input placeholder="Buscar..." type="text" ng-model="txtBuscar"><i class="inverted circular search link icon"></i>
    </div>

	<table class="ui stackable striped table">
        <thead>
        	<tr>
        		<th>Expediente N°</th>
                <th>Solicitud N°</th>
        		<th>Practicante</th>
                <th>Asesor</th> 
        		<th>Descripción</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Opciones</th>
        	</tr>
        </thead>
        <tbody>
            <tr ng-repeat="expediente in vm.expedientes | filter:txtBuscar">
            	<td>
                    {{expediente.numero}}
                </td>
                <td>
                    {{expediente.solicitud.numero}}
                </td>
                <td>
                    {{expediente.practicante.nombres +' '+ expediente.practicante.apellidos}}
                </td>
                <td>
                    {{expediente.asesor.colaborador.nombres+' '+expediente.asesor.colaborador.apellidos}}
                </td>
                <td>
                    {{expediente.solicitud.servicio.nombre}}
                </td>
                <td>
                    {{expediente.creado | date : 'dd/MM/yyyy'}}
                </td>
                <td>
                    <div ng-if="expediente.esActivo" class="ui blue horizontal label">Activo</div>
                    <div ng-if="expediente.esActivo == false" class="ui horizontal label">Cerrado</div>
                </td>
                <td>
                    <i class="search icon link" ui-sref="detalleExpediente({ id: expediente.id })">
                        <md-tooltip md-direction="bottom">
                            Detalle
                        </md-tooltip>
                    </i>
                </td>
            </tr>
        </tbody>
        <tfoot class="full-width">
            <tr>
              <th colspan="8"
                 <div class="ui">
                  Total de registros: {{ vm.expedientes.length }}
                </div> 
              </th>
            </tr>
        </tfoot>
    </table>
</div>