<div class="three fields">
  <div class="field">
    <select name="year" ng-model="date.year" ng-options="year for year in selects.years() | orderBy: year:yearOrder" placeholder="Año" class="ui fluid search dropdown">
      <option value="" disabled>Año</option>
    </select>
  </div>
  <div class="six wide field">
    <select name="month" ng-model="date.month" class="ui fluid search dropdown">
      <option value="">Mes</option>
      <option value="01">Enero</option>
      <option value="02">Febrero</option>
      <option value="03">Marzo</option>
      <option value="04">Abril</option>
      <option value="05">Mayo</option>
      <option value="06">Junio</option>
      <option value="07">Julio</option>
      <option value="08">Agosto</option>
      <option value="09">Septiembre</option>
      <option value="10">Octubre</option>
      <option value="11">Noviembre</option>
      <option value="12">Diciembre</option>
    </select>
  </div>
  <div class="four wide field">
    <select name="day" ng-model="date.day" ng-options="day for day in selects.days()" placeholder="Dia" class="ui fluid search dropdown">
      <option value="" disabled>Día</option>
    </select>
  </div>
</div>
<script>
  $('.ui.dropdown')
    .dropdown()
  ;
</script>