<div class="mdl-layout__drawer">
	<header class="brand"><img src="public/images/ufg.png" alt="logo" class="logo"/></header>
	<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-900">
		<a href="/" class="mdl-navigation__link">
		<i role="presentation" class="material-icons">home</i>
	    <label>Inicio</label>
	    </a>
	    <a href="/expedientes" class="mdl-navigation__link">
	    <i role="presentation" class="material-icons">folder_shared</i>
	    <label>Expedientes</label>
	    </a>
	    <a href="/practicantes" class="mdl-navigation__link">
	    <i role="presentation" class="material-icons">people</i>
	    <label>Practicantes</label>
	    </a>
	    <a href="/usuarios" class="mdl-navigation__link">
	    <i role="presentation" class="material-icons">perm_contact_calendar</i>
	    <label>Usuarios</label>
	    </a>
	    <a href="/solicitudes" class="mdl-navigation__link">
	    <i role="presentation" class="material-icons">assignment</i>
	    <label>Solicitudes</label>
	    </a>
	</nav>
</div>