<div class="ui page">
    <div>
        <h3 class="ui dividing header">Practicantes</h3>

        <div class="ui fluid icon input">
          <input placeholder="Buscar..." type="text" ng-model="txtBuscar"><i class="inverted circular search link icon"></i>
        </div>

        <table class="ui stackable striped table">
            <thead>
                <tr>
                    <th>Carnet</th>
                    <th>Nombre</th>
                    <th>Género</th>
                    <th>Estado Civil</th>
                    <th>Nacionalidad</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="practicante in vm.practicantes | filter:txtBuscar">
                    <td>
                        {{practicante.carnet}}
                    </td>
                    <td>
                        {{practicante.nombres +' '+practicante.apellidos}}
                    </td>
                    <td>
                        {{practicante.genero}}
                    </td>
                    <td>
                        {{practicante.estadoCivil.nombre}}
                    </td>
                    <td>
                        {{practicante.pais.nacionalidad}}
                    </td>
                    <td>
                        <i class="search icon link" ui-sref="detallePracticante({ id: practicante.id })">
                            <md-tooltip md-direction="bottom">
                                Detalle
                            </md-tooltip>
                        </i>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                  <th>
                     <div class="ui">
                      Total de registros: {{vm.practicantes.length}}
                    </div> 
                  </th>
                  <th colspan="5">
                    <a ui-sref="nuevoPracticante">
                        <div class="ui right floated small primary labeled icon button">
                          <i class="user icon"></i> Agregar practicante
                        </div>
                    </a>                  
                  </th>
                </tr>
            </tfoot>
        </table>
    </div> 
</div>