<div class="ui page">
    <md-card >
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools">
                <md-button ui-sref="{{previusState}}" class="md-icon-button" aria-label="Anterior">
                  <md-icon>navigate_before</md-icon>
                  <md-tooltip md-delay="400" md-direction="bottom" md-autohide="true">
                    Ir atrás
                  </md-tooltip>
                </md-button>
                <!-- <md-button ui-sref="{{previusState}}" aria-label="Anterior">
                  <md-icon>navigate_before</md-icon>
                  Atrás
                </md-button> -->
                <i class="material-icons">account_box</i>
                <span style="padding-left:10px;">Usuario #{{usuario.id}}</span>
                <div class="mdl-layout-spacer"></div>
                <!-- <md-button>Nueva solicitud</md-button> -->
                <md-fab-speed-dial  md-direction="left" md-open="fab.isOpen" class="md-scale" ng-mouseenter="fab.isOpen=true" ng-mouseleave="fab.isOpen=false">
                    <md-fab-trigger>
                      <md-button class="md-fab md-mini">
                        <md-icon>menu</md-icon>
                      </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                      <md-button ui-sref="nuevaSolicitud({ id: usuario.id })" class="md-fab md-mini">
                        <md-tooltip md-direction="down">Nueva solicitud</md-tooltip>
                        <md-icon>assignment</md-icon>
                      </md-button>
                      <md-button class="md-fab md-mini" ng-click="print('usuarios', usuario.id)">
                        <md-tooltip md-direction="down">Imprimir detalle</md-tooltip>
                        <md-icon>print</md-icon>
                      </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-content layout-padding>
                <form name="usuarioForm">
                    <!-- <md-subheader>Información personal</md-subheader> -->
                    <h3 class="ui dividing header">Información personal</h3>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                          <label>Nombres</label>
                          <input ng-model="usuario.nombres" type="text" readonly>
                        </md-input-container>
                        <md-input-container flex>
                          <label>Apellidos</label>
                          <input ng-model="usuario.apellidos" type="text" readonly>
                        </md-input-container>
                        <md-input-container>
                          <label>Género</label>
                          <input ng-model="usuario.genero" readonly>
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                          <label>{{ usuario.tipoDocumento.nombre }}</label>
                          <input ng-model="usuario.numDocumento" type="text" readonly>
                        </md-input-container>
                        <md-input-container>
                          <label>Profesión</label>
                          <input ng-model="usuario.profesion" readonly>
                        </md-input-container>
                        <!-- <md-datepicker ng-model="usuario.fechaNac" md-placeholder="mm/dd/aaaa"></md-datepicker> -->
                    </div> 
                    <!-- <md-subheader>Información de contacto</md-subheader> -->
                    <h3 class="ui dividing header">Información de contacto</h3>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                          <label>Dirección</label>
                          <input ng-model="usuario.direccion" type="text" readonly>
                        </md-input-container>
                        <md-input-container>
                          <label>Teléfono fijo</label>
                          <input ng-model="usuario.telefono" readonly>
                        </md-input-container>
                        <md-input-container>
                          <label>Teléfono móvil</label>
                          <input ng-model="usuario.movil" readonly>
                        </md-input-container>
                    </div> 
                </form>  
            </md-content>
        </md-card-content>
        <md-card-footer>
        Última actualización: {{usuario.updatedAt | date : 'dd/MM/yyyy'}}
        </md-card-footer>
    </md-card>
</div>