<div class="ui page">
    <md-card >
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools">
                <md-button ui-sref="{{previusState}}" class="md-icon-button" aria-label="Anterior">
                  <md-icon>navigate_before</md-icon>
                  <md-tooltip md-delay="400" md-direction="bottom" md-autohide="true">
                    Ir atrás
                  </md-tooltip>
                </md-button>
                <i class="material-icons">account_box</i>
                <span style="padding-left:10px; padding-right:10px;">Usuario #{{vm.usuario.id}}</span>
                <button ng-click="vm.editable = true;" class="ui inverted basic mini button">Editar</button>
                <div class="mdl-layout-spacer"></div>
                <md-fab-speed-dial  md-direction="left" md-open="fab.isOpen" class="md-scale" ng-mouseenter="fab.isOpen=true" ng-mouseleave="fab.isOpen=false">
                    <md-fab-trigger>
                      <md-button class="md-fab md-mini">
                        <md-icon>menu</md-icon>
                      </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                      <md-button ui-sref="nuevaSolicitud({ id: vm.usuario.id })" class="md-fab md-mini">
                        <md-tooltip md-direction="down">Nueva solicitud</md-tooltip>
                        <md-icon>assignment</md-icon>
                      </md-button>
                      <!-- <md-button class="md-fab md-mini" ng-click="print('usuarios', vm.usuario.id)">
                        <md-tooltip md-direction="down">Imprimir detalle</md-tooltip>
                        <md-icon>print</md-icon>
                      </md-button> -->
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-content layout-padding>
                <form name="usuarioForm">
                    <!-- <md-subheader>Información personal</md-subheader> -->
                    <h3 class="ui dividing header">Información personal</h3>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                          <label>Nombres</label>
                          <input autocomplete="off" ng-model="vm.usuario.nombres" type="text" ng-readonly="!vm.editable">
                        </md-input-container>
                        <md-input-container flex>
                          <label>Apellidos</label>
                          <input autocomplete="off" ng-model="vm.usuario.apellidos" type="text" ng-readonly="!vm.editable">
                        </md-input-container>
                        <md-input-container>
                          <label>Género</label>
                          <input ng-model="vm.usuario.genero" readonly>
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                          <label>{{ vm.tipoDocumento }}</label>
                          <input autocomplete="off" ng-model="vm.usuario.numDocumento" type="text" ng-readonly="!vm.editable">
                        </md-input-container>
                        <md-input-container>
                          <label>Profesión</label>
                          <input autocomplete="off" ng-model="vm.usuario.profesion" ng-readonly="!vm.editable">
                        </md-input-container>
                    </div> 
                    <h3 class="ui dividing header">Información de contacto</h3>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                          <label>Dirección</label>
                          <input autocomplete="off" ng-model="vm.usuario.direccion" type="text" ng-readonly="!vm.editable">
                        </md-input-container>
                        <md-input-container>
                          <label>Teléfono fijo</label>
                          <input autocomplete="off" ng-model="vm.usuario.telefono" ng-readonly="!vm.editable">
                        </md-input-container>
                        <md-input-container>
                          <label>Teléfono móvil</label>
                          <input autocomplete="off" ng-model="vm.usuario.movil" ng-readonly="!vm.editable">
                        </md-input-container>
                    </div> 
                </form>  
            </md-content>
            <span>Última actualización: {{vm.usuario.actualizado ? vm.usuario.actualizado : vm.usuario.creado | date : 'dd/MM/yyyy'}}</span>
        </md-card-content>
        <md-card-footer ng-if="vm.editable" layout="row" layout-align="end center">
          <md-button ng-click="vm.editable = false;">
            Cancelar
          </md-button>
          <md-button ng-click="vm.updateUsuario()" style="margin-right:20px;">
            Guardar
          </md-button>
        </md-card-footer>
    </md-card>
</div>